* {
  padding: 0;
  margin: 0;
}

.header_main {
  background-color: aqua;
  color: black;
  height: 20vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cat_main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cat_img {
  height: 20%;
  width: 30%;
  margin: 1rem;
}

.cat_btn .add_btn {
  cursor: pointer;
  padding: 2rem;
  margin: 1rem;
  color: black;
  background-color: aqua;
}
